.country-list {
  border: 1px solid black;
  cursor: pointer; 
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 200px;   
  padding: 0 20px;
  width: 600px;

  &__highlighted {
    color: red;
    font-weight: bold;
  }
}
